.body {
  min-height: 94vh;
  min-width: 100vw;
  max-width: 100vw;
}

.body-container {
  height: 94%;
  width: 96%;
  padding: 2%;
  h1 {
    font-size: 2.5rem;
    font-weight: bolder;
  }
}

.card-container {
  padding-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

mat-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-card-header {
  display: flex;
  align-items: center;
  padding: 16px;
}

mat-card-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
}

mat-icon {
  font-size: 3em;
  height: auto;
  width: auto;
  color: #888;
}

mat-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 16px;
}

mat-card-subtitle {
  font-size: 14px;
  color: #888;
  margin-left: 16px;
}

mat-card-content {
  padding: 16px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

mat-card-actions button {
  margin-left: 8px;
}

mat-card-actions button:first-child {
  margin-left: 0;
}
