<app-tool-bar>
  <div class="body">
    <div class="body-container">
      <div class="body-header">
        <h1>Ofertas Laborales</h1>
      </div>

      <div class="card-container">
        <ng-container *ngFor="let jobOffer of jobOffers">
          <mat-card *ngIf="jobOffer.isAvailable">
            <mat-card-header>
              <div mat-card-avatar><mat-icon>work</mat-icon></div>
              <mat-card-title>{{ jobOffer.name }}</mat-card-title>
              <mat-card-subtitle>{{ jobOffer.address }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <h2>{{ jobOffer.description }}</h2>
              <p>Salario: {{ jobOffer.salary | currency: "PEN" }}</p>
              <p>Requisitos: {{ jobOffer.requirements }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" *ngIf="!jobOffer.postulants.includes(currentUser.id)" (click)="applyToJobOffer(jobOffer)">Aplicar</button>
              <button mat-button (click)="openJobOfferView(jobOffer)">Ver más</button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</app-tool-bar>
