<router-outlet></router-outlet>
<app-tool-bar>
  <header>
    <h3>
      <img
        src="assets/img/financyLogo.png"
        alt="Financy logo"
        style="float: right"
      />
    </h3>
    <div class="title">
      <h1>Recomendaciones Financieras</h1>
    </div>
  </header>
  <div class="Recomendaciones">
    <div class="tip1">
      <div class="items">
        <div class="titulof">
          <h2>Define metas financieras</h2>
        </div>
      </div>
      <p>
        El primer paso para dar un buen manejo a tu dinero es saber qué es lo
        que quieres lograr con él. Las metas deben ser a corto, mediano y largo
        plazo
        <button>Ver mas</button>
      </p>
    </div>

    <div class="tip1">
      <div class="items">
        <div class="titulof">
          <h2>Crea un presupuesto</h2>
        </div>
      </div>

      <p>
        Es importante saber exactamente cuánto dinero tienes disponible y cómo
        lo estás gastando. Crea un presupuesto mensual y trata de ceñirte a él
        para evitar gastar.
        <button>Ver mas</button>
      </p>
    </div>

    <div class="tip1">
      <div class="items">
        <div class="titulof">
          <h2>Ahorra regularmente</h2>
        </div>
      </div>
      <p>
        Establece una meta de ahorro mensual y trata de cumplirla. Puedes
        ahorrar automáticamente mediante transferencias periódicas a una cuenta
        de ahorro.
        <button>Ver mas</button>
      </p>
    </div>

    <div class="tip2">
      <div class="items2">
        <div class="titulof">
          <h2>Paga tus deudas</h2>
        </div>
      </div>
      <p>
        Si tienes deudas, trata de pagarlas lo antes posible para evitar
        intereses adicionales. Si tienes varias deudas, considera consolidarlas
        en un solo pago.
        <button>Ver mas</button>
      </p>
    </div>

    <div class="tip2">
      <div class="items2">
        <div class="titulof">
          <h2>Invierte en ti mismo</h2>
        </div>
      </div>
      <p>
        Considera la posibilidad de invertir en educación, cursos en línea,
        libros o herramientas que puedan mejorar tus perspectivas laborales.
        <button>Ver mas</button>
      </p>
    </div>

    <div class="tip2">
      <div class="items2">
        <div class="titulof">
          <h2>Compara precios</h2>
        </div>
      </div>
      <p>
        Antes de realizar una compra, investiga y compara precios para
        asegurarte de que estás obteniendo la mejor oferta posible.

        <button>Ver mas</button>
      </p>
    </div>

    <div class="tip3">
      <div class="items3">
        <div class="titulof">
          <h2>Planifica para el futuro</h2>
        </div>
      </div>
      <p>
        Asegúrate de estar preparado para situaciones inesperadas, como
        emergencias médicas o reparaciones del hogar, mediante la creación de un
        fondo de emergencia.
        <button>Ver mas</button>
      </p>
    </div>

    <div class="tip3">
      <div class="items3">
        <div class="titulof">
          <h2>Buen historial crediticio</h2>
        </div>
      </div>
      <p>
        Debes cuidar tu reputación crediticia, cumpliendo puntualmente con tus
        obligaciones, y no exclusivamente cuando se trate de deudas con
        entidades financieras.
        <button>Ver mas</button>
      </p>
    </div>

    <div class="tip3">
      <div class="items3">
        <div class="titulof">
          <h2>Busca Asesoramiento</h2>
        </div>
      </div>
      <p>
        Busca asesoramiento de un profesional financiero o de una fuente
        confiable. Esto puede ayudarte a tomar decisiones informadas y a mejorar
        tu situación financiera a largo plazo.
        <button>Ver mas</button>
      </p>
    </div>
  </div>
</app-tool-bar>
