<div mat-dialog-title>
  <h1>Gestor Financiero</h1>
</div>
<form [formGroup]="financesForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="type">
            <mat-option *ngFor="let val of type_values" [value]="val">{{val}}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ej. Servicio Agua"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cantidad</mat-label>
        <input
          matInput
          placeholder="Ej. 120"
          type="number"
          formControlName="exchange"
        />
        <mat-hint>En soles</mat-hint>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Comentario</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ej. Mas caro que el mes pasado"
          formControlName="comment"
        />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">
      Cancelar
    </button>
    <button mat-raised-button color="primary" type="submit">
      {{ data ? "Actualizar" : "Grabar" }}
    </button>
  </div>
</form>
