* {
  font-weight: bold;
}

.dialog {
  padding: 20px;
  overflow-y: auto;
  max-height: 80vh;
}

.row mat-form-field {
  width: 48%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.row {
  .ruc {
    width: 35%;
  }
  .name {
    width: 61%;
  }

  #phone {
    width: 35%;
  }
  #email {
    width: 61%;
  }
}

.row #requirements {
  width: 98%;
}

.row .comment {
  width: 98%;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  justify-content: flex-end;
  padding-right: 6%;
  gap: 5px;
}
