<mat-dialog-content class="dialog">
  <div mat-dialog-content class="content">
    <h1>{{ jobOffer.description }}</h1>
    <div class="row">
      <h3>Información del Empleador</h3>
      <mat-form-field appearance="outline" class="ruc">
        <mat-label>RUC</mat-label>
        <input matInput disabled value="{{ jobOffer.ruc }}" placeholder="RUC" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="name">
        <mat-label>Razon Social</mat-label>
        <input
          matInput
          disabled
          value="{{ jobOffer.name }}"
          placeholder="Razón Social"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" id="requeriments">
        <mat-label>Dirección</mat-label>
        <textarea matInput disabled>{{ jobOffer.address }}</textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <h3>Información del Empleo</h3>
      <mat-form-field appearance="outline">
        <mat-label>Fecha de Publicación</mat-label>
        <input
          matInput
          value="{{ jobOffer.creationDate | date : 'dd/MM/yyyy' }}"
          disabled
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Salario</mat-label>
        <input
          matInput
          placeholder="Salario"
          disabled
          value="{{ jobOffer.salary | currency : 'PEN' }}"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" id="requeriments">
        <mat-label>Requerimientos</mat-label>
        <textarea matInput disabled>{{ jobOffer.requirements }}</textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <h3>Información de Contacto</h3>
      <mat-form-field appearance="outline" id="phone">
        <mat-label>Teléfono</mat-label>
        <input
          matInput
          value="{{ jobOffer.phone }}"
          disabled
        />
      </mat-form-field>
      <mat-form-field appearance="outline" id="email">
        <mat-label>Correo Electrónico</mat-label>
        <input
          matInput
          placeholder="Salario"
          disabled
          value="{{ jobOffer.email }}"
        />
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button color="warn" type="button" [mat-dialog-close]="false">
      Cerrar
    </button>
  </div>
</mat-dialog-content>
