.all {
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../assets/img/background.jpg");
  background-position: center top;
  background-repeat: repeat;
  background-attachment: fixed;
}

mat-toolbar {
  background-color: transparent;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40vw;
  margin-right: 40vw;
  h1 {
    text-align: center;
    font-weight: bold;
    color: white;
  }
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
}
mat-card-actions {
  text-align: center;
  vertical-align: middle;
  padding-bottom: 5%;
}
.form {
  width: 15vw;
}

.form-field {
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup-card {
  margin-bottom: 3vh;
}

@media (max-width: 1400px) {
  .body {
    margin: 0 10px;
  }
  mat-card {
    width: 40vw;
  }
  .form {
    width: 35vw;
  }
}

@media (max-width: 525px) {
  mat-card {
    width: 70vw;
  }
  .form {
    width: 65vw;
  }
}


@media (max-height: 700px) {
  .signup-header {
    h1 {
      margin-bottom: 5vh;
    }
  }
  .body {
    margin-top: -3%;
    transform:scale(0.95)
  }
}

@media (max-height: 675px) {
  .signup-header {
    h1 {
      margin-bottom: 3vh;
    }
  }
  .body {
    margin-top: -10%;
    transform:scale(0.75)
  }
}
