<router-outlet></router-outlet>
<header>
  <div class="logo" ref>
    <img routerLink="/home" style="cursor: pointer;" src="assets/img/financyLogo.png" alt="Nombre del Logo">
  </div>
  <div class="botones">
    <button routerLink="/register" class="rojo" style="cursor: pointer;">Registrarse</button>
  </div>
</header>
<div class="body">
  <div class="card-container">
    <mat-card>
      <br><br>
      <mat-card-header>
        <div class="card-title">Iniciar Sesión</div>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup] ="loginform" (ngSubmit)="proceedlogin()">
          <div class="input-container">
            <p>Dirección de correo electrónico</p>
            <mat-form-field appearance="fill" class="email-input">
              <input matInput placeholder="ejemplo@dominio.com" formControlName="id" type="email">
            </mat-form-field>
            <p>Contraseña</p>
            <mat-form-field appearance="fill" class="password-input">
              <input matInput placeholder="*********" formControlName="password" type="password">
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" class="button">Iniciar sesión</button>
          <p style="color:black;text-align: center;">o</p>
          <p class="forget" style="color:blue;text-align: center;cursor: pointer;">Has olvidado la contraseña?</p>
        </form>
      </mat-card-content>
    </mat-card>
</div>

</div>
