<router-outlet></router-outlet>
<div class="all">
  <div class="header">
    <mat-toolbar>
      <span class="spacer"></span>
      <button mat-raised-button color="primary" [routerLink]="['/home']">
        <mat-icon>keyboard_arrow_left</mat-icon>Volver
      </button>
    </mat-toolbar>
  </div>

  <div class="body">
    <div class="login-header">
      <img src="assets/img/financyLogo.png" alt="Logo" />
      <h1>Inicia Sesión a Financy</h1>
    </div>

    <mat-card id="login-card">
      <mat-card-content>
        <form [formGroup]="loginForm" class="form">
          <div class="row">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Correo electrónico</mat-label>
              <input
                matInput
                placeholder="ejemplo@dominio.com"
                formControlName="email"
                type="email"
                ngModel [email]="true"
              />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                placeholder="*********"
                formControlName="password"
                [type]="isPasswordHide ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="isPasswordHide = !isPasswordHide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isPasswordHide"
              >
                <mat-icon>{{ isPasswordHide ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </form>
        <div class="row">
          <p>Has olvidado la contraseña?</p>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="login()">
          Iniciar sesión
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card id="signup-card">
      <mat-card-content>
        <p>
          ¿Nuevo en Financy?
          <span><a [routerLink]="['/signup']">Crear una cuenta</a></span
          >.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
