.mat-toolbar img {
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.login{
  width: 100%;
  max-width: 330px;
  text-align: center;
}

.title{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.img{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 20px;
  background-color: white;
  position: relative;
  z-index: 1;
}

.botones button {
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
}

.botones .rojo {
  background-color: #e74c3c;
  text-emphasis-color: black;
  border-radius: 0%;
}
.botones .rojo:hover{
  font-size: 1.2em;
}

.card-container {
  margin: 0 auto;
  max-width: 50em;
  width: 100%;
}

mat-card-header {
  height: 8em;
  padding: 1em;
}

mat-card {
  display: block;
  margin: 0 auto;
  max-width: 40em;
  width: 100%;
  font-size: 1em;
  border: 1px solid black;
  z-index: 0;
}

.card-title {
  font-size: 2em;
  text-align: left;
  color: green;
}

.mat-card:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

p{
  font-size: 1.5em;
  color: green;
}


.forget:hover{
  font-size: 2em;
}

@media screen and (min-width: 768px) {
  .card-container {
    padding: 0 1em;
    max-width: 60vw;
    max-height: 70vh;
  }

  mat-card {
    max-width: 100%;
    min-height: 500px;
  }

  .card-title {
    font-size: 2.5em;
  }

  .button {
    width: 100%;
    font-size: 1.5em;
    margin-top: 1em;
  }

  .email-input,
  .password-input {
    width: 100%;
  }

  .input-container {
    display: flex;
    flex-direction: column;
  }

}
