@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

.header h1 {
    font-size: 60px;
    line-height: 70px;
}

.header img{
    width: 150px;
}

.btn-1{
    display: inline-block;
    padding: 40px 182px;
    background-color: white;
    border: 7px solid #7FFF00;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
    border-radius: 15px;
}

.btn-2{
    display: inline-block;
    padding: 40px 250px;
    background-color: white;
    border: 7px solid #00BFFF	;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
    border-radius: 15px;
}

.btn-3{
    display: inline-block;
    padding: 40px 124.5px;
    background-color: white;
    border: 7px solid #FFFF00	;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
    border-radius: 15px;
}

.btn-4{
    display: inline-block;
    padding: 40px 234.5px;
    background-color: white;
    border: 7px solid #FF00FF	;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
    border-radius: 15px;
}

.btn-1:hover {
    background-color: #00FF7F;
}

.btn-2:hover {
    background-color: #1E90FF		;
}

.btn-3:hover {
    background-color: #FFD700;
}

.btn-4:hover {
    background-color: #DA70D6;
}

.about {
    padding: 100px 0 0 0;
    display: flex;
    align-items: center;
}

.about-img {
    width: 50%;
    text-align: center;
}

.about-img img{
    height: 700px;
}

.about-txt{
    width: 50%;
    align-items: center;
}


@media(max-width:991px) {

    .header {
        min-height: 0vh;
        background-position: left bottom;
    }

    .header-content {
        padding: 100px 30px 30px 30px;

    }

    .header img {
        width: 100%;
        justify-content: center;
    }

    .header h1 {
        width: 50%;
        text-align: center center;
    }

    .about {
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }

    .about-img {
        width: 100%;
        order: 2;
    }

    .about-img img {
        height: 400px;
    }

    .about-txt {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

}
