<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main-menu.component.scss">
</head>
<body>
    <header class="header">
        <div>
            <img href="#" src="../../assets/img/casa.png" alt="">
        </div>
        <div>
            <h1>╬ ╬ ╬ TE DAMOS LA BIENVENIDA A FINANCY ╬ ╬ ╬</h1>
        </div>
        <div class="header-img2">
            <img src="../../assets/img/financyLogo.png" alt="">
        </div>
    </header>

    <section class="about container">

        <div class="about-img">
            <img src="../../assets/img/moneda.png" alt="">
        </div>

        <div class="about-txt">
            <a href="/finances" class="btn-1">GESTIONAR TUS FINANZAS</a>
            <a href="#" class="btn-2">BUSCAR EMPLEO</a>
            <a href="#" class="btn-3">RECOMENDACIONES FINANCIERAS</a>
            <a href="/offer-work" class="btn-4">OFERTAR TRABAJO</a>
        </div>

    </section>


</body>
</html>
