<div class="dialog">
  <div mat-dialog-title>
    <h1>Ofertas Laborales</h1>
  </div>
  <form [formGroup]="employmentForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>RUC</mat-label>
          <input
            matInput
            type="text"
            placeholder="20123456852"
            formControlName="ruc"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Razon Social</mat-label>
          <input
            matInput
            type="text"
            placeholder="Razon Social"
            formControlName="name"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Fecha</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="creationDate"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Salario</mat-label>
          <input
            matInput
            placeholder="Ej. 5000"
            type="number"
            formControlName="salary"
          />
          <mat-hint>En soles</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" id="description">
        <mat-label>Descripcion</mat-label>
        <input
          matInput
          type="text"
          placeholder="Profesor de ..."
          formControlName="description"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" id="requirements">
        <mat-label>Requerimientos</mat-label>
        <input
          matInput
          type="text"
          placeholder="Grado en ..."
          formControlName="requirements"
        />
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">
        Cancelar
      </button>
      <button mat-raised-button color="primary" type="submit">
        {{ data ? "Actualizar" : "Grabar" }}
      </button>
    </div>
  </form>
</div>
