<div class="dialog">
  <form [formGroup]="employmentForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div class="row">
        <h3>Información del Empleador</h3>
        <mat-form-field appearance="outline" class="ruc">
          <mat-label>RUC</mat-label>
          <input
            matInput
            type="number"
            placeholder="20123456852"
            formControlName="ruc"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="name">
          <mat-label>Razon Social</mat-label>
          <input
            matInput
            type="text"
            placeholder="Razon Social"
            formControlName="name"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" id="requirements">
          <mat-label>Dirección</mat-label>
          <textarea
            matInput
            type="text"
            placeholder="Dirección"
            formControlName="address"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <h3>Información del Empleo</h3>
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Publicación</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="creationDate"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Salario</mat-label>
          <input
            matInput
            placeholder="Ej. 5000"
            type="number"
            formControlName="salary"
          />
          <mat-hint>En soles</mat-hint>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" id="requirements">
          <mat-label>Descripción</mat-label>
          <input
            matInput
            type="text"
            placeholder="Profesor de Ciencias"
            formControlName="description"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" id="requirements">
          <mat-label>Requerimientos</mat-label>
          <textarea
            matInput
            type="text"
            placeholder="Grado en ..."
            formControlName="requirements"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <h3>Información de Contacto</h3>
        <mat-form-field appearance="outline" id="phone">
          <mat-label>Teléfono</mat-label>
          <input
            matInput
            type="number"
            placeholder="987654321"
            formControlName="phone"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" id="email">
          <mat-label>Correo Electrónico</mat-label>
          <input
            matInput
            type="text"
            placeholder="email@domain.com"
            formControlName="email"
          />
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">
        Cancelar
      </button>
      <button mat-raised-button color="primary" type="submit">
        {{ data ? "Actualizar" : "Grabar" }}
      </button>
    </div>
  </form>
</div>
