<app-tool-bar>
  <div class="body">
    <h1>Bienvenido a Financy, {{currentUser.name}}</h1>
    <mat-grid-list cols="2" rowHeight="200px" gutterSize="16px">
      <mat-grid-tile>
        <mat-card>
          <!-- Contenido de la tarjeta -->
          <mat-card-header>
            <mat-card-title>Gestiona tus Finanzas</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>aa</p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <!-- Contenido de la tarjeta -->
          <mat-card-header>
            <mat-card-title>Busca Empleo</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>bb</p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <!-- Contenido de la tarjeta -->
          <mat-card-header>
            <mat-card-title>Recomendaciones Financieras</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>cc</p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <!-- Contenido de la tarjeta -->
          <mat-card-header>
            <mat-card-title>Oferta Trabajos</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>dd</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</app-tool-bar>
