<app-tool-bar>
  <div class="body">
    <div class="body-container">
      <h1>Bienvenido a Financy, {{currentUser.name}}</h1>
      <div class="card-container">
        <a class="card-router" [routerLink]="['/finances']">
          <mat-card [routerLink]="['/finances']">
            <mat-card-header class="card-title">
              <mat-card-title><span>Gestionar Finanzas</span></mat-card-title>
            </mat-card-header>
            <img mat-card-image class="mat-card-image" src="../../../assets/img/finances-manage.jpg"/>
            <mat-card-content>
              <p>En el Gestor de Finanzas podrás manejar tus finanzas de manera detallada, permiendo conocer tus ingresos y egresos.</p>
            </mat-card-content>
          </mat-card>
        </a>
        <a class="card-router" [routerLink]="['/offer-work']" *ngIf="!empress">
          <mat-card>
            <mat-card-header class="card-title">
              <mat-card-title><span>Buscar Empleo</span></mat-card-title>
            </mat-card-header>
            <img mat-card-image class="mat-card-image" src="../../../assets/img/search-job.jpg"/>
            <mat-card-content>
              <p>En esta sección podrás postular a ofertas de trabajo publicadas por empresas relacionadas.</p>
            </mat-card-content>
          </mat-card>
        </a>
        <a class="card-router" [routerLink]="['/recommends']">
          <mat-card>
            <mat-card-header class="card-title">
              <mat-card-title><span>Recomendaciones Financieras</span></mat-card-title>
            </mat-card-header>
            <img mat-card-image class="mat-card-image" src="../../../assets/img/recommendations.jpg"/>
            <mat-card-content>
              <p>En esta sección recibirás información actualizada de maneras en que puedes manejar tus finanzas.</p>
            </mat-card-content>
          </mat-card>
        </a>
        <a class="card-router" [routerLink]="['/offer-work']" *ngIf="empress">
          <mat-card>
            <mat-card-header class="card-title">
              <mat-card-title><span>Ofertar Trabajos</span></mat-card-title>
            </mat-card-header>
            <img mat-card-image class="mat-card-image" src="../../../assets/img/create-job.jpeg"/>
            <mat-card-content>
              <p>En esta sección podrás colocar tus ofertas de trabajo y esperar a ver las postulaciones de otros usuarios.</p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</app-tool-bar>
