.example-spacer {
  flex: 1 1 auto;
}

.body {
  min-height: 94vh;
  min-width: 100vw;
  max-width: 100vw;
}

.body-container {
  height: 94%;
  width: 96%;
  padding: 2%;
  h1 {
    font-size: 2.5rem;
    font-weight: bolder;
  }
}

mat-form-field {
  width: 100%;
}

.add-button {
  width: 100%;
  button {
    float: right;
    font-size: 1.2em;
    height: 50px;
  }
}

.body-header {
  padding-bottom: 5%;
}

.action {
  display: flex;
  gap: 5px;
}

.arrow-icon {
  font-size: 24px;
  font-weight: bolder;
}

.green-icon {
  color: green;
}

.red-icon {
  color: red;
}
