<router-outlet></router-outlet>
<h1>INFORMACIÓN</h1>

<div mat-dialog-content>

  <form [formGroup]="productForm">

    <p>Ingrese el Id:</p>
    <mat-form-field appearance="outline">
      <mat-label>Id</mat-label>
      <input formControlName="Id" matInput placeholder="Id" type="number">
    </mat-form-field>

    <p>Ingrese el nombre de la empresa:</p>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input formControlName="Nombre" matInput placeholder="Nombre">
    </mat-form-field>

    <p>Ingrese el puesto de trabajo:</p>
    <mat-form-field appearance="outline">
      <mat-label>Puesto</mat-label>
      <input formControlName="Puesto" matInput placeholder="Puesto">
    </mat-form-field>

    <p>Ingrese el salario mensual:</p>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Salario</mat-label>
      <input formControlName="Salario" matInput type="number" class="example-right-align" placeholder="0">
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>

    <p>Ingrese los requisitos:</p>
    <mat-form-field appearance="outline">
      <mat-label>Requisitos</mat-label>
      <input formControlName="Requisitos" matInput placeholder="Requisitos">
    </mat-form-field>

  </form>

</div>
<div mat-dialog-action [align]="'center'">
  <button mat-raised-button color="primary" mat-dialog-close>ELIMINAR</button>
  <button style="margin-left: 3%;"mat-raised-button color="warn" (click)="addProduct()">INSERTAR</button>
</div>
