<router-outlet></router-outlet>

<div class="container">
  <div class="imagen">
    <img src="../../assets/img/financyLogo.png" alt="Imagen" />
  </div>
  <mat-card>
    <div class="card-title" style="margin-top: 5vh; margin-bottom: 5vh">
      Registrate
    </div>
    <mat-card-content>
      <form>
        <div class="input-container">
          <p>Nombre</p>
          <mat-form-field appearance="fill" class="text-input">
            <input matInput placeholder="Nombre" type="text" />
          </mat-form-field>
          <p>Apellido Paterno</p>
          <mat-form-field appearance="fill" class="text-input">
            <input matInput placeholder="Apellido Paterno" type="text" />
          </mat-form-field>
          <p>Apellido Materno</p>
          <mat-form-field appearance="fill" class="text-input">
            <input matInput placeholder="Apellido Materno" type="text" />
          </mat-form-field>
          <p>Correo Electrónico</p>
          <mat-form-field appearance="fill" class="email-input">
            <input matInput placeholder="ejemplo@dominio.com" type="email" />
          </mat-form-field>
          <p>Contraseña</p>
          <mat-form-field appearance="fill" class="password-input">
            <input matInput placeholder="*********" type="password" />
          </mat-form-field>
          <p style="text-align: center">
            <input type="checkbox" /> He leído y acepto los terminos y condiciones
          </p>
        </div>
        <button mat-raised-button color="primary" class="button">
          Registrarse
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
